Repository gdsc-ssu/sasil-front, pull requests merged in 2022-07, with the labels that each got.

#45 feat: add req-exp list in mobile
  projects/common/package.json
  projects/common/src/apis/index.ts
  projects/common/src/apis/queryKeys.ts
  projects/common/src/hooks/index.ts
  projects/common/src/hooks/useListQuery.ts
  projects/common/src/index.ts
  projects/sasil-mobile/package.json
  projects/sasil-mobile/src/components/organisms/Navigation/Navigation.style.tsx
  projects/sasil-mobile/src/components/organisms/Navigation/Navigation.tsx
  projects/sasil-mobile/src/components/templates/NavBar/NavBar.style.tsx
  projects/sasil-mobile/src/components/templates/NavBar/index.ts
  projects/sasil-mobile/src/components/templates/PostsWrap/PostsWrap.style.tsx
  projects/sasil-mobile/src/components/templates/PostsWrap/PostsWrap.tsx
  projects/sasil-mobile/src/components/templates/ReqExpTemplate/PageHeader.tsx
  projects/sasil-mobile/src/components/templates/ReqExpTemplate/ReqExpTemplate.stories.tsx
  projects/sasil-mobile/src/components/templates/ReqExpTemplate/ReqExpTemplate.style.tsx
  projects/sasil-mobile/src/components/templates/ReqExpTemplate/ReqExpTemplate.tsx
  projects/sasil-mobile/src/routes/BottomTabNavigator.tsx
  projects/sasil-mobile/src/routes/RootNavigator.tsx
  projects/sasil-mobile/src/screens/ExperimentScreen/ExperimentScreen.tsx
  projects/sasil-mobile/src/screens/RequestScreen/RequestScreen.tsx
  yarn.lock
Labels: work, mobile, common

#49 feat: connect api to main page
  projects/sasil-mobile/src/screens/MainScreen/MainScreen.tsx
  projects/sasil-web/src/pages/index.tsx
Labels: work, web, mobile

#55 feat: add apis for post-details and refactor types
  projects/common/src/apis/apiUtils.ts
  projects/common/src/apis/auth.ts
  projects/common/src/apis/comments.ts
  projects/common/src/apis/index.ts
  projects/common/src/apis/interest.ts
  projects/common/src/apis/post.ts
  projects/common/src/apis/posts.ts
  projects/common/src/hooks/useListQuery.ts
  projects/sasil-mobile/src/components/dummyData.ts
  projects/sasil-mobile/src/components/templates/MainTemplate/MainTemplate.tsx
  projects/sasil-mobile/src/components/templates/PostsWrap/MainPostsWrap.tsx
  projects/sasil-mobile/src/components/templates/PostsWrap/PostsWrap.tsx
  projects/sasil-mobile/src/screens/ExperimentScreen/ExperimentScreen.tsx
  projects/sasil-mobile/src/screens/MainScreen/MainScreen.tsx
  projects/sasil-mobile/src/screens/RequestScreen/RequestScreen.tsx
  projects/sasil-web/src/components/templates/MainTemplate/MainTemplate.tsx
  projects/sasil-web/src/components/templates/PostSummary/PostSummary.tsx
  projects/sasil-web/src/components/templates/PostsWrap/MainPostsWrap.tsx
  projects/sasil-web/src/components/templates/PostsWrap/PostsWrap.tsx
  projects/sasil-web/src/dummyData.ts
  projects/sasil-web/src/pages/experiment.tsx
  projects/sasil-web/src/pages/index.tsx
  projects/sasil-web/src/pages/request.tsx
Labels: work, web, mobile, common

#58 feat: add apis to post detail page in web
  projects/common/src/apis/comments.ts
  projects/common/src/apis/post.ts
  projects/common/src/apis/queryKeys.ts
  projects/common/src/hooks/useListQuery.ts
  projects/sasil-mobile/src/components/dummyData.ts
  projects/sasil-web/src/components/molelcules/CommentInput/CommentInput.style.tsx
  projects/sasil-web/src/components/molelcules/CommentInput/CommentInput.tsx
  projects/sasil-web/src/components/molelcules/WriterInfo/WriterInfo.stories.tsx
  projects/sasil-web/src/components/molelcules/WriterInfo/WriterInfo.tsx
  projects/sasil-web/src/components/organisms/InterestsWrap/InterestsWrap.stories.tsx
  projects/sasil-web/src/components/organisms/InterestsWrap/InterestsWrap.tsx
  projects/sasil-web/src/components/organisms/InterestsWrap/index.ts
  projects/sasil-web/src/components/organisms/PostInfoCard/PostInfoCard.tsx
  projects/sasil-web/src/components/templates/CommentsArea/CommentsArea.stories.tsx
  projects/sasil-web/src/components/templates/CommentsArea/CommentsArea.tsx
  projects/sasil-web/src/components/templates/CommentsArea/CommentsAreaWrapped.tsx
  projects/sasil-web/src/components/templates/CommentsArea/index.ts
  projects/sasil-web/src/components/templates/PostDetailTemplate/PostDetailTemplate.stories.tsx
  projects/sasil-web/src/components/templates/PostDetailTemplate/PostDetailTemplate.tsx
  projects/sasil-web/src/components/templates/PostSummary/PostSummary.tsx
  projects/sasil-web/src/components/templates/ReqExpTemplate/PageHeader.tsx
  projects/sasil-web/src/dummyData.ts
  projects/sasil-web/src/pages/experiment.tsx
  projects/sasil-web/src/pages/post/[type]/[pid].tsx
  projects/sasil-web/src/pages/request.tsx
Labels: web, common

#60 feat: add jotai logic and change addPost result type
  projects/common/src/apis/post.ts
  projects/sasil-web/src/components/molelcules/LoginButton/social/AppleLoginButton.tsx
  projects/sasil-web/src/components/molelcules/LoginButton/social/GoogleLoginButton.tsx
  projects/sasil-web/src/components/molelcules/LoginButton/social/KakaoLoginButton.tsx
  projects/sasil-web/src/components/templates/CommentsArea/CommentsAreaWrapped.tsx
  projects/sasil-web/src/logics/store/actions.ts
  projects/sasil-web/src/logics/store/atoms.ts
  projects/sasil-web/src/pages/post/[type]/[pid].tsx
Labels: work, web, common

#63 fix: modify modal behavior & style
  projects/sasil-mobile/App.tsx
  projects/sasil-mobile/src/components/molecule/LoginButton/social/KakaoLoginButton.tsx
  projects/sasil-mobile/src/components/organisms/login/SocialLoginBox/SocialLoginBox.style.tsx
  projects/sasil-mobile/src/components/organisms/login/SocialLoginBox/SocialLoginBox.tsx
  projects/sasil-mobile/src/components/templates/MainTemplate/MainTemplate.tsx
  projects/sasil-mobile/src/screens/LoginModal/LoginModal.style.tsx
  projects/sasil-mobile/src/screens/LoginModal/LoginModal.tsx
  projects/sasil-mobile/src/screens/MainScreen/MainScreen.tsx
Labels: work, mobile

#64 feat: add post-write for web
  projects/sasil-web/src/components/molelcules/Editor/Editor.tsx
  projects/sasil-web/src/components/molelcules/Editor/index.ts
  projects/sasil-web/src/components/organisms/InterestsWrap/InterestsWrap.style.tsx
  projects/sasil-web/src/components/organisms/PostEditor/CategoryInputBar.stories.tsx
  projects/sasil-web/src/components/organisms/PostEditor/CategoryInputBar.style.tsx
  projects/sasil-web/src/components/organisms/PostEditor/CategoryInputBar.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditor.stories.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditor.style.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditor.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditorWrapped.tsx
  projects/sasil-web/src/components/organisms/PostEditor/index.ts
  projects/sasil-web/src/components/templates/PostDetailTemplate/PostDetailTemplate.style.tsx
  projects/sasil-web/src/components/templates/PostDetailTemplate/PostDetailTemplate.tsx
  projects/sasil-web/src/components/templates/PostSummary/PostSummary.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/PostWriteTemplate.stories.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/PostWriteTemplate.style.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/PostWriteTemplate.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/index.ts
  projects/sasil-web/src/pages/experiment.tsx
  projects/sasil-web/src/pages/post/[type]/[pid].tsx
  projects/sasil-web/src/pages/write/[type].tsx
  yarn.lock
Labels: web

#65 feat: add post write
  projects/sasil-web/src/components/molelcules/Editor/Editor.tsx
  projects/sasil-web/src/components/molelcules/Editor/index.ts
  projects/sasil-web/src/components/organisms/InterestsWrap/InterestsWrap.style.tsx
  projects/sasil-web/src/components/organisms/PostEditor/CategoryInputBar.stories.tsx
  projects/sasil-web/src/components/organisms/PostEditor/CategoryInputBar.style.tsx
  projects/sasil-web/src/components/organisms/PostEditor/CategoryInputBar.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditor.stories.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditor.style.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditor.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditorWrapped.tsx
  projects/sasil-web/src/components/organisms/PostEditor/index.ts
  projects/sasil-web/src/components/templates/PostDetailTemplate/PostDetailTemplate.style.tsx
  projects/sasil-web/src/components/templates/PostDetailTemplate/PostDetailTemplate.tsx
  projects/sasil-web/src/components/templates/PostSummary/PostSummary.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/PostWriteTemplate.stories.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/PostWriteTemplate.style.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/PostWriteTemplate.tsx
  projects/sasil-web/src/components/templates/PostWriteTemplate/index.ts
  projects/sasil-web/src/pages/experiment.tsx
  projects/sasil-web/src/pages/post/[type]/[pid].tsx
  projects/sasil-web/src/pages/write/[type].tsx
  yarn.lock
Labels: epic, web, mobile, common

#72 feat: add deletePost api
  projects/common/src/apis/post.ts
Labels: work, common
