Repository gdsc-ssu/sasil-front, pull requests merged in 2022-11, with the labels that each got.

#89 feat: add search logic in web
  projects/common/src/apis/index.ts
  projects/common/src/apis/post.ts
  projects/common/src/apis/posts.ts
  projects/common/src/apis/search.ts
  projects/sasil-web/src/components/atoms/StyledLink/StyledLink.style.tsx
  projects/sasil-web/src/components/atoms/StyledLink/StyledLink.tsx
  projects/sasil-web/src/components/molelcules/CategoryBox/CategoryBox.tsx
  projects/sasil-web/src/components/molelcules/SearchBar/SearchBarWrapped.tsx
  projects/sasil-web/src/components/templates/MainTemplate/PageHeader.tsx
  projects/sasil-web/src/components/templates/ReqExpTemplate/PageHeader.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/SearchTemplate.stories.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/SearchTemplate.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/index.ts
  projects/sasil-web/src/constants/urlInfo.ts
  projects/sasil-web/src/pages/search.tsx
Labels: work, web

#91 refactor : refactor search page UI
  projects/sasil-web/src/components/templates/PostsWrap/PostsWrap.style.tsx
  projects/sasil-web/src/components/templates/PostsWrap/PostsWrap.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/PageHeader.style.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/SearchTemplate.style.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/SearchTemplate.tsx
  projects/sasil-web/src/components/templates/UserPageTemplate/UserPageTemplate.tsx
  projects/sasil-web/src/pages/search.tsx
Labels: work, web, refactor

#92 feat: add search page in Web
  projects/common/src/apis/index.ts
  projects/common/src/apis/post.ts
  projects/common/src/apis/posts.ts
  projects/common/src/apis/search.ts
  projects/sasil-web/src/assets/icons/CircleRight.svg
  projects/sasil-web/src/assets/icons/SearchSlim.svg
  projects/sasil-web/src/components/atoms/StyledLink/StyledLink.style.tsx
  projects/sasil-web/src/components/atoms/StyledLink/StyledLink.tsx
  projects/sasil-web/src/components/molelcules/CategoryBox/CategoryBox.tsx
  projects/sasil-web/src/components/molelcules/SearchBar/SearchBarWrapped.tsx
  projects/sasil-web/src/components/templates/MainTemplate/PageHeader.tsx
  projects/sasil-web/src/components/templates/PostsWrap/MainPostsNavCard.style.tsx
  projects/sasil-web/src/components/templates/PostsWrap/MainPostsNavCard.tsx
  projects/sasil-web/src/components/templates/PostsWrap/PostsWrap.style.tsx
  projects/sasil-web/src/components/templates/PostsWrap/PostsWrap.tsx
  projects/sasil-web/src/components/templates/ReqExpTemplate/PageHeader.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/PageHeader.stories.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/PageHeader.style.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/PageHeader.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/SearchTemplate.stories.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/SearchTemplate.style.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/SearchTemplate.tsx
  projects/sasil-web/src/components/templates/SearchTemplate/index.ts
  projects/sasil-web/src/components/templates/UserPageTemplate/UserPageTemplate.tsx
  projects/sasil-web/src/constants/urlInfo.ts
  projects/sasil-web/src/pages/search.tsx
Labels: epic, web

#94 feat: activate buttons related to user page
  projects/sasil-web/src/components/molelcules/WriterInfo/WriterInfo.style.tsx
  projects/sasil-web/src/components/molelcules/WriterInfo/WriterInfo.tsx
  projects/sasil-web/src/components/organisms/Navigation/Navigation.tsx
  projects/sasil-web/src/components/organisms/PostEditor/PostEditorWrapped.tsx
  projects/sasil-web/src/components/organisms/PostWriteNav/PostWriteNav.tsx
  projects/sasil-web/src/components/templates/CommentsArea/CommentsAreaWrapped.tsx
  projects/sasil-web/src/components/templates/NavBar/NavBar.tsx
  projects/sasil-web/src/components/templates/UserPageTemplate/UserPageTemplate.stories.tsx
  projects/sasil-web/src/components/templates/UserPageTemplate/UserPageTemplate.style.tsx
  projects/sasil-web/src/components/templates/UserPageTemplate/UserPageTemplate.tsx
  projects/sasil-web/src/constants/urlInfo.ts
  projects/sasil-web/src/pages/post/[type]/[pid].tsx
  projects/sasil-web/src/pages/user/[uid].tsx
Labels: work, web
